@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800&display=swap');

.App {
  background-color: $favColor;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 50px;
}

body {
  background-color: $primaryColor !important;
}

input {
  display: block;
}

.list-card {
  background-color: white;
  border-radius: .8rem;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: radial-gradient($primaryColor, $favColor);
  width: 200px;
}

.list-inputs {
  width: 30rem;
}

.badge-card {
  background-color: white;
  border-radius: 0 2rem 0 2rem;
  border: 2px solid dimgray;
}

.list-img {
  border-radius: 50%;
}

.play-card {
  background-color: white;
}

.word {
  font-family: Poppins;
}

.list-title {
  font-family: Roboto Slab;
  font-weight: 700;
}

.list-grade {
  font-family: Roboto Slab;
  font-weight: 600;
}

.badge-title {
  font-family: Roboto Slab;
  font-weight: 700;
}